nav a{
    text-decoration: none;
    color: aquamarine;
    font-size: 20px;
    padding: 20px;;
}


nav{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

nav a:hover{
    color: tomato;
}

