table,tr,th,td{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 10px;
}
td{
    border: 2px solid red;

}

th{
    color: tomato;
    background-color: black;
}